* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 52px;

}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 32px;
}

h3 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 31px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 48px;
}

label {
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding-left: 11px;
    padding-right: 11px;
}

.dots {
    width: 13px;
    float: left;
    margin-right: 12px;
    margin-top: 5px;
}

.flexbox-1 {
    display: flex;
}

.meal-info {
    width: 216px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    justify-content: center;
    flex-wrap: wrap;
}

.h2-instructions {
    margin-top: 28px;
    margin-bottom: 28px;
}

.number {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #F2994A;
    border-radius: 4px;
}

.box {
    display: flex;
    gap: 15px;
}

.info {
    margin-bottom: 38px;
}

.footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-top: 100px;
    padding: 20px;
}

.h2-ingredients-2 {
    margin-top: 38px;
}

.p-meal-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.p-meal-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.orange {
    color: #F2994A;
}

.flexbox-2 {
    display: flex;
    align-items: center;
    gap: 14.03px;
    justify-items: center;
    padding-left: 43px;
    flex-wrap: wrap;
}

.icon {
    width: 27.09px;
    height: 25.14px;
    padding-top: 5px;
    margin: 0;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
    }

    h2 {
        font-size: 18px;
        line-height: 24px;
    }

    h3 {
        font-size: 16px;
        line-height: 21px;
    }

    label {
        font-size: 14px;
        line-height: 25px;
    }

    img {
        margin-top: 20px;
    }

    .p-heading {
        font-size: 12px;
        line-height: 15px;
    }

    .info {
        font-size: 16px;
        line-height: 150%;
    }

    .meal-info {
        flex-direction: row;
        width: auto;
        height: auto;
        margin-bottom: 30px;
        box-shadow: none;
        border-radius: 0;
        justify-content: left;
        justify-items: left;
    }

    .flexbox-1 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .flexbox-2 {
        gap: 5px;
        padding: 20px 5px;
        margin: 0;
    }

    .icon {
        width: 13px;
        height: 13px;
    }

    .p-meal-1 {
        font-size: 8px;
        line-height: 10px;
    }

    .p-meal-2 {
        font-size: 10px;
        line-height: 12px;
    }

}